@model IEnumerable<AspnetMvcFilters.Models.LogInformation>

@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ControllerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ErrorMessage)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ControllerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ErrorMessage)
        </td>
    </tr>
}

</table>
